# Never commit copyrighted game packages
climb_amy/gamedata/*.apk
climb_amy/gamedata/*.xapk
climb_amy/gamedata/*.obb

# Release packages must be uploaded through GitHub Releases
climb-amiyp-portmaster-*.zip

# Windows temporary files
Thumbs.db
Desktop.ini